<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/vendor/bootstrap-icons/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

    {{{body}}} <!-- O conteúdo da página será injetado aqui -->




    {{!-- Vendo js --}}

    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    

    {{!-- template main --}}
    <script src="/js/main.js"></script>

</body>

</html>