<!-- START COROUSEL -->
<div class="hero">
	<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner height-50vh">
			<div class="carousel-item active img22" data-bs-interval="10000">
				<img src="/images/helo (1).jpg" class="d-block w-100 h-100 img-fluid" alt="..." />
			</div>
			<div class="carousel-item img22" data-bs-interval="2000">
				<img src="/images/helo (2).jpg" class="d-block w-100 h-100 img-fluid" alt="..." />
			</div>
			<div class="carousel-item img22">
				<img src="/images/helo (3).jpg" class="d-block w-100 h-100 img-fluid" alt="..." />
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

</div>

{{!-- UL-GRIDBOOKS --}}
<div class="gridbooks">
<ul class="ul-gridbooks">
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book10.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book02.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book03.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book04.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book05.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book06.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book07.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book08.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book09.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book01.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book11.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book13.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book12.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book14.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book15.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book16.jpg" alt=""></li>


  <div>
  {{!-- <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book17.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book18.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book19.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book20.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book21.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book22.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book23.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book24.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book25.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book26.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book27.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book28.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book29.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book30.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book31.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book32.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book33.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book34.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book10.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book02.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book03.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book04.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book05.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book06.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book07.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book08.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book09.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book01.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book11.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book13.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book12.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book14.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book15.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book16.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book17.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book18.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book19.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book20.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book21.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book22.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book23.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book24.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book25.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book26.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book27.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book28.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book29.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book30.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book31.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book32.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book33.jpg" alt=""></li>
  <li class="li-gridbooks"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book34.jpg" alt=""></li>
   --}}
   </div>
</ul>
</div>

 <div class="container">
  <p class="text-center">Livros mais Vistos na semana</p>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Titulo do Card</h5>
          <p class="card-text">Conteudo adicional. This content is a little bit.</p>
          <p class="card-text"><small class="text-muted">Ultima atualização 3 de agosto</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book02.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Titulo do Card</h5>
          <p class="card-text">This card has supporting text below as a natural.</p>
          <p class="card-text"><small class="text-muted">Ultima atualização 3 de agosto</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/book03.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Titulo Card</h5>
          <p class="card-text"> Conteudo adicional. This card has even longer  height action.</p>
          <p class="card-text"><small class="text-muted">Ultima atualização 3 de agosto</small></p>
        </div>
      </div>
    </div>
  </div>
</div> 
<br>
<br>
<div></div>